<html>
    <head>
        <title>India</title>
    </head>
    <body>
        <form action="/post_location" method="POST">
            Pincode<input type="text" name="pincode"/><br>
            Address<input type="text" name="address"/><br>
            City<input type="text" name="city"/><br>
            Latitude<input type="number" step="any"  name="latitude"/><br>
            Longitude<input type="number"  step="any" name="longitude"/><br>
            Accuracy<input type="number" name="accuracy"/><br>
            Submit<input type="submit" value="submit"/>
        </form>
    </body>
</html>